/*	sbe_nas.css						*/
/*	絵コンテエディタプレイヤのためのスタイルシート	(9:16)		*/
/*	Nekomataya/kiyo 2008					*/

/*========== 絵コンテ全体 ============*/
/*基本デザイン*/
/**/
* {
	margin: 0; padding: 0;
}

#fixed {
	position: fixed;
}
.fixed {
	position: fixed;
}

#sheet_view {
	margin:0;
}

body {
	font-size:11pt;
	margin:0px;
	padding:0px;
	overflow:scroll;
}
/*fixedHeader*/
#fixedHeader
{
	background-color:#efefef;width:100%;
	position:fixed;
	z-index:9;
}
/*print hrader */
img.print-logo {
	display:none;
}
/*タイトルヘッダ*/
.titleHeader {
	text-align:right;
	margin:0px 0px 0px 16px;
	width:185mm;
}
/*ページヘッダ*/
span.titleHeader {
	text-align:right;
	margin:0px 0px 0px 16px;
	width:180mm;
}

/*ツールボタン*/
.toolButton {
	width:54px;
	height:32px;
}
#pgCounter {
	width:54px;
	height:24px;
	text-align:center;
}
/*ナビボタン*/
.navButton {
	width:64px;
	height:20px;
}
.tcButton {
	width:112px;
}
/*デバッグコンソール*/
/*ツールヘッダ*/
.toolHeader {
	display:block;
	margin:6px 0px 0px 16px;
	width:185mm
}
#targetURL
{
	width:320px;height:20px;vertical-align:middle;
}
.textButtonW
{
	display:none;
	width:120px;height:20px;vertical-align:middle;
}
.textButtonC
{
	width:60px;height:20px;vertical-align:middle;
}
.textButtonN
{
	width:40px;height:20px;vertical-align:middle;
}
/*インデックスバー*/
.indexBar {
	top:24px;
	margin:0px;
	width:64px;
	padding:0px;
	background-color:#888888;
}
/*	絵コンテテーブル	*/
table {
	border-color:#CCCCCC;
	font-size:9pt;
	border-collapse:collapse;
	margin:0px 0px 0px 16px;
	padding:0px;
	border-width:1pt;
	border-style:solid;
	table-layout: fixed;
}

/*	プレイヤ画面	*/
div#playerArea	{
	position:auto;
	z-index:2;
}
/*	プレイヤ画面初期サイズ	*/
table.player {
	width:512px;
	height:480px;
	border-color:#CCCCCC;
	font-size:9pt;
	background-color:#CCCCCC;
	border-collapse:collapse;
	margin:0px 0px 0px 16px;
	padding:0 0 0 0;
	border-width:1pt;
	border-style:solid;
	table-layout: fixed;
	z-index:2;
}

th {
	border-color:#CCCCCC;
	text-align:center;
	border-style:solid;
	border-width:1pt;
	font-size:9pt
}
td {
	border-color:#CCCCCC;
	text-align:left;
	vertical-align:top;
	border-style:solid;
	border-width:1pt;
	padding:1mm 2mm 1mm 2mm;
	margin:0px;
	font-size:9pt;
	overflow:visible;
}

td.columnLabel {
	text-align:center;
	vertical-align:top;
	font-weight:bold;
	font-size:18pt;
	padding:2mm 1mm 2mm 1mm;
}

td.pictureArea {
	text-align:center;
	vertical-align:middle;
	margin:0mm;
	padding:0mm;
	overflow:visible;
}
td.timeText {
	text-align:center;
	vertical-align:bottom;
	font-weight:bold;
	font-size:11pt;
	padding:2mm 1mm 2mm 1mm;
}
div.pageDivider {
	width:186mm;
}
button.control {
	width:48px;
}
/*	player field	*/
#clipFrame	{
		position:relative;
		margin-left:5px;
		width:480px;
		height:270px;
		overflow:hidden;
		background-color:#333333;
		text-align:left;
}
#mainScreen {
        z-index:2;
}
#dialogField	{
	width : 100%;
	height:	120px;
		overflow:hidden;
		background-color:#eeeeee;
		text-align:center;
}
#contentField	{
	width : 100%;
	height:	120px;
		overflow:hidden;
		text-align:left;
	
}
/*========== ページヘッダーテーブル ============*/
.pageHeader {
	border-style:none;
}
/*========== ページフッタテーブル ============*/
.pageFooter {
	margin:0px 0px 0px 16px;
	width:185mm;
	text-align:right;
}
/*はみ出し画像試験*/
.ctPicture {
	z-index:2;
}
/*========== リンク ============*/
a:link {color:#000066}
a:visited {color:green}
a:hover {color:red;background-color:snow}
a:active {color:gray;background-color:snow}
a:focus {color:#880000;background-color:snow}

/*	ページノンブル	*/
.pgNm {
	font-size:9pt;
}

/*CUT No*/
.cutNm {
	text-align:center;
	vertical-align:top;
	font-weight:bold;
	font-size:18pt;
	padding:2mm 1mm 2mm 1mm;
}

/*==============NavigationPost=========================*/
#optionPanelNaBar{
    z-index:2;
    display:inline;
    position:absolute;
    top:24px;
    left:0px;
    width:64px;
    height:480px;
    background-color:#efefef;
    padding:0;
    border-style:double;
}
#optionPanelNaBar a.minimize{
    position:absolute;
    right:32px;
    top:1px;
}
#optionPanelNaBar a.close{
    position:absolute;
    right:8px;
    top:1px;
}
#optionPanelNaBar a.minimize img{
    border:none;
}
#optionPanelNaBar a.close img{
    border:none;
}
/*
#optionPanelNaBar dl{
    width:100%;
    height:100%;
    background:url("../images/toolbox.gif");
    margin:0;
}
*/
#optionPanelNaBar dl dt{
    height:25px;
    line-height:25px;
    text-indent:1em;
    font-weight:bold;
    cursor:move;
}
#optionPanelNaBar dl dd{
    margin:0;
    padding:2em;
    line-height:1.5;
    text-indent:1em;
}
/*----------------timeSlider
base
timeSlider		style="width:600px;height:16px;background-color:#888888;margin:0px 0px 0px 0px;"
woorkArea	style="background-color:#99AA99;width:600px;position:absolute;height:16px;left:110px;"
leftmark	style="font-size:9px;height:16px;width:18px;position:absolute;left:80px;"
timeMarker	style="font-size:9px;height:16px;width:20px;position:absolute;left:320px;"
rightmark	style="font-size:9px;height:16px;width:18px;position:absolute;left:704px;"



*/
div#timeSlider {
	width:480px;height:16px;
	background-color:#888888;
	margin:0px 0px 0px 16px;
}
#workArea {
	background-color:#99AA99;
	width:498px;height:16px;
	position:absolute;left:16px;
}
#leftmark {
	font-size:9px;
	height:16px;width:18px;
	position:absolute;left:80px;
}
#timeMarker{
	font-size:9px;
	height:16px;width:20px;
	position:absolute;left:320px;
}
#rightmark {
	font-size:9px;
	height:16px;width:18px;
	position:absolute;left:462px;
}

